# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask & Local Environment
instance/
.webassets-cache
.env
*.db
*.sqlite
*.sqlite3

# Uploads & Temp
app/static/uploads/*
!app/static/uploads/.gitkeep
scratch/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Flutter / Dart Build
mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
